/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/

.fit-picture {
    display: block;
    margin: 0 0;
    text-align: left;
}

.bg-secondary {
    background-color: #212529 !important;
}

.flex-shrink-0 {
    background-color: #3694a76b;
}

.btn {
    background-color: #07789b !important;
}

.btn-outline-secondary {
    color: white 
}

.bi {
    color: white
}

// .row align-items-center {
//     background-color: #812121;
// }